@import "../../GlobalStyle/globalstyle.scss";

.carteContainer {
    background-color: $quaternaire-color;
    font-family: $primary-font;
    height: 500px;
  
    &__div {
      width: 400px;
      height: 400px;
      padding: 0; 
      position: relative;
      border: 3px solid #ccc;
      border-radius: 50%;
      overflow: hidden; 
      transition: border-color 0.3s ease, transform 0.3s ease;
    }
  
    &__div:hover {
      border-color: $tertiary-color;
      transform: scale(1.1);
    }
  
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }