
$first-font: 'Montserrat', sans-serif;
$second-font: 'Playfaire';


$first-color: black;
$second-color: #f3d9ae;
$third-color: #918f8c;
$fourth-color:#eaeaea ;
$fifth-color:#737372;
$sixth-color:#3d3b3a;
$seventh-color:#646260 ;

$first-size:24px;
$second-size:18px;
$third-size:14px;
$fourth-size:12px;
$sixth-size:80px;
$seventh-size:8px;

.container{
    margin: auto;
    max-width: 1240px;
    width: 100%;
    padding: 20px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.noscript-message {
    color: red;
    text-align: center;
    padding: 20px;
    background-color: #f8d7da; /* Rouge clair pour indiquer une alerte */
    border: 1px solid #f5c6cb; /* Bordure correspondant */
    border-radius: 5px;
    font-family: 'Open Sans', Arial, sans-serif;
  }

