
$first-font: 'Montserrat', sans-serif;
$second-font: 'Playfaire';


$first-color: black;
$second-color: #b06f8fc4;
$third-color: #918f8c;
$fourth-color:#eaeaea ;
$fifth-color:#737372;
$sixth-color:#3d3b3a;
$seventh-color:#646260 ;
$eighth-color:#e29acd;
$ninth-color:#f8b8de;

$first-size:24px;
$second-size:18px;
$third-size:14px;
$fourth-size:12px;
$fifth-size: 35px;
$sixth-size:80px;
$seventh-size:8px;

.container{
    margin: auto;
    max-width: 1240px;
    width: 100%;
    padding: 20px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


