@import"../../GlobalStyle/globalstyle.scss";

.headerContainer{
    font-family: $first-font;
    display: flex;
    margin: auto;
    max-width: 1240px;
    width: 100%;
    padding: 20px;
    justify-content: space-between;

    &__Div {
        display: flex;
        width: 339px;
        justify-content: space-between;
        padding-top: 30px;
        z-index: 4; // Défaut
        position: relative;

    @media screen and (max-width: 500px){
            position: absolute;
            top: 80px;
            right: 0;
            background-color: $fourth-color;
            flex-direction: column;
            width: 40%;
            padding-top: 0%;
            max-height: 0;
            overflow: hidden;
            border-radius: 10px;
            transition:max-height 0.8s ease, box-shadow 0.8s ease;
            box-shadow:0px 0px 11px 2px rgba(0,0,0,0);
            text-align: center;
        } 
        
        &--open {
          max-height: 300px;
          z-index: 999;
          position: absolute;
          box-shadow:0px 0px 11px 2px rgba(0,0,0,0.5);
        }
    }
   
    &__lien{
        position: relative;
        text-decoration: none;
        color: $seventh-color;
        text-transform: uppercase;
        height: 28px;

        @media screen and (max-width: 500px) {
          margin: 10px 0;
          font-size: $fourth-size;
          transition: background-color 0.5s ease-in-out, transform 0.2s ease;

          &:active {
            animation: click-effect 0.6s ease;
            padding: 5px;
            color: lighten($ninth-color, 60%);
            background-color: $second-color;
            border-radius: 8px;
          }
        }
       

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%) scaleX(0);
            transform-origin: center;
            width: 100%;
            height: 2px; 
            background-color: $ninth-color;
            transition: transform 250ms ease-in-out;

            @media screen and (max-width: 500px) {
                content: none;
            }
          }
      
          &:hover {
            &::after {
              transform: translateX(-50%) scaleX(1);
            }
          }
 }
   
    &__toggle {
      display: none;

      @media screen and (max-width: 500px) {
      display: block;
      font-size: $first-size;
      background: none;
      border: none;
      cursor: pointer;
      color: $fifth-color;
      }
    }
    &__img{
        width: 130px;
        display: block;
        height: 113px;

        @media screen and (max-width: 768px) {
          max-width: 130px;
        }

        @media screen and (max-width:500px) {
           display: none;
        }
      }

    &__imgM{
      display: none;
  
      @media screen and (max-width: 500px) {
          display: block ;
          width: 80px;
          height: 53px;

        }
      }
 }

 @keyframes click-effect {
  0% {
    transform: scale(1);
    box-shadow: 0 4px 10px rgba($ninth-color, 0.3);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba($ninth-color, 0.4);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 4px 10px rgba($ninth-color, 0.3);
  }
}