

@import "../../GlobalStyle/globalstyle.scss";


.carousel-container {
  width: 100%;
  max-width: 600px; 
  height: auto;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  @media screen and (max-width: 500px) {
    max-width: 100%;
  }
}


.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
  .swiper-wrapper {
    display: flex;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
}


.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.carousel-texte {
  font-size: $second-size;
  font-style: italic;
  max-width: 80%;
  margin: 0;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  @media screen and (max-width: 768px) {
    font-size: $third-size;
  }
  @media screen and (max-width: 500px) {
    font-size: $fourth-size;
  }
}


.carrousel-author {
  font-size: $fourth-size;
  margin-top: 10px;
  color: $seventh-color;

  @media screen and (max-width: 500px) {
    font-size: $seventh-size;
  }
}