@import"../../GlobalStyle/globalstyle.scss";

// Conteneur du carrousel
.carousel-container {
    width: 100%;
    max-width: 600px; 
    height: 120px;
    margin: 0 auto;

    @media screen and (max-width: 500px) {
      height: 100px;
    }
  }
  
  // Configurer le carrousel Swiper pour être horizontal
  .swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    .swiper-wrapper {
      display: flex;
    }
  
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease-in-out;
    }
  }
  

  .carousel-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;

    @media screen and (max-width: 500px) {
      width: 30px;
      height: 30px;
    }
  
    &.swiper-slide-active {
      transform: scale(1.4); 
    }

  }
 // Personnaliser les points de pagination
.swiper-pagination-bullet {
    background-color: $third-color !important; /* Couleur des points de pagination */
    transition: background-color 0.3s ease;
  }
  
  .swiper-pagination-bullet-active {
    background-color: $sixth-color !important; /* Couleur du point actif */
  }