@import "../../GlobalStyle/globalstyle.scss";


.footerContainer {
    font-family: $primary-font;
    padding: 20px;
    background-color: $quaternaire-color;
    text-align: center;
    color: $tertiary-color;
    margin-top: 30px;
&__p{
    font-size: $secondary-size;
}
    &__reserver{
        padding-top: 8px;
        font-size: $quaternaire-size;
    }
  }